.App {
  text-align: center;
  margin: 5vh;
}

body {
  background-color: #F5F7F4;
}

.Menu {
  margin:0 auto;
  display: flex;
  flex-direction: row;
  align-items: row;
}

.App-body-login {
  background-color: #F5F7F4;
  min-height: 45vh;
  max-width: 45vh;
  margin:0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #261D34;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .1);
}

.App-body-cadastro {
  background-color: #F5F7F4;
  min-height: 45vh;
  max-width: 45vh;
  margin:0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #261D34;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .1);
}


.table-title{

  margin: 5vh;
 


}
.App-body-table {
  

  
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #261D34;
}

.App-link {
  color: #61dafb;
}

.form-group, .form-check {
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-bottom: 1vh;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
